section#portfolio.bg-light.page-section
    .container
        .row
            .col-lg-12.text-center
                +section-header(
                    "Portfolio",
                    "Please find examples of our work below :)."
                )
        .row
            .col-md-3.col-sm-12.portfolio-item
                a.portfolio-link(data-toggle='modal' href='#portfolioModal1')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src='media/1-snuggles.png' alt='')
                .portfolio-caption
                    h4 Snuggles
                    p.text-muted Responsive Website & CMS
            .col-md-3.col-sm-12.portfolio-item
                a.portfolio-link(data-toggle='modal' href='#portfolioModal1')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src='media/monthofprizes_1.png' alt='')
                .portfolio-caption
                    h4 Month of Prizes
                    p.text-muted Promotional Website
            .col-md-3.col-sm-12.portfolio-item
                a.portfolio-link(data-toggle='modal' href='#portfolioModal2')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src='media/crm-0.png' alt='')
                .portfolio-caption
                    h4 Versyx CRM
                    p.text-muted CRM & Backoffice
            .col-md-3.col-sm-12.portfolio-item
                a.portfolio-link(data-toggle='modal' href='#portfolioModal3')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    img.img-fluid(src='media/1-rowles.png' alt='')
                .portfolio-caption
                    h4 Software Developer
                    p.text-muted Portfolio & Blog
