section#services.page-section.h-100
    .container
        .row
            .col-lg-12.text-center
                +section-header(
                    "Services",
                    "If there's something else you have in mind, please feel free to ask us directly :)."
                )
        .row.text-center
            .col-md-4
                .column-margin
                    +icon('shopping-cart')
                    h4.service-heading E-Commerce
                    p.text-muted
                        | If you're looking to set up shop, we would absolutely love to help.
                        | We'll get your awesome online business launched in no time.
            .col-md-4
                .column-margin
                    +icon('laptop')
                    h4.service-heading Responsive Design
                    p.text-muted
                        | Whether it's websites or apps, it's important to stay ahead.
                        | We'll make sure to provide a perfect experience for your customers on any device.
            .col-md-4
                .column-margin
                    +icon('server')
                    h4.service-heading Hosting
                    p.text-muted
                        | Focus on your business, we'll handle the rest. We provide managed scalable hosting with 24-hour support included at no extra cost.