section#team.bg-light.page-section.h-100
    .container
        .row
            .col-lg-12.text-center
                +section-header('The Team')
        .row.text-center
            .col-sm-6
                .team-member.column-margin
                    img.mx-auto.rounded-circle(src='media/team/1.jpg' alt='')
                    h4 Danielle Sharpe
                    p.text-muted Co-Founder & Designer
                    +socialmedia
            .col-sm-6
                .team-member.column-margin
                    img.mx-auto.rounded-circle(src='media/team/2.jpg' alt='')
                    h4 Christopher Rowles
                    p.text-muted Co-Founder & Developer
                    +socialmedia