nav#mainNav.navbar.navbar-expand-md.fixed-top
    a.navbar-brand(href='/') Versyx Digital
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainNavBar' aria-expanded='false'
        aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #mainNavBar.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.p-2
            each item in ['services', 'team', 'contact']
                li.nav-item
                    a.nav-link(href=`#${item}`)= item