include ../../partials/mixins/form

.filter-control
    .filter
    section#contact.page-section.h-100.form-section
        .container
            .row
                .col-lg-12.text-center
                    +section-header("Contact Us", "We would love to hear from you :)")
            .row
                .col-lg-12
                    form#contactForm(name='sentMessage' novalidate='novalidate')
                        .row
                            .col-md-6
                                +form-input('Name', 'text', 'required')
                                +form-input('Email', 'email', 'required')
                                +form-input('Phone', 'tel', 'required')
                            .col-md-6
                                +form-textarea('Message', 'required')
                            .clearfix
                            .col-lg-12.text-center
                                +form-button('Send Message', 'submit')