extends layout

block content
    section.page-section.my-5.h-100
        .container
            .row
                .col-md-2
                .col-md-8.text-center
                    h1= error.status
                    h2= message
                    br
                    br
                    p
                        | Please click&nbsp;
                        a(href='/') here
                        |  to go back.
                .col-md-2
