footer.footer
    .container
        .row.align-items-center
            .col-md-4
                span.copyright
                    | Copyright <script>document.write((new Date).getFullYear())</script>. &copy; Versyx Digital
            .col-md-4
                +socialmedia
            .col-md-4
                ul.list-inline.quicklinks
                    li.list-inline-item
                        a(href='/privacy') Privacy Policy
                    li.list-inline-item
                        a(href='/privacy') Terms of Use