footer.footer
    .container
        .row.align-items-center
            .col-md-4
                span.copyright
                    | Copyright 2019. &copy; Versyx Digital
            .col-md-4
                ul.list-inline.social-buttons
                    li.list-inline-item
                        a(href='https://twitter.com/versyxdigital')
                            i.fab.fa-twitter
                    li.list-inline-item
                        a(href='https://facebook.com/versyxdigital')
                            i.fab.fa-facebook-f
            .col-md-4
                ul.list-inline.quicklinks
                    li.list-inline-item
                        a(href='/privacy') Privacy Policy
                    li.list-inline-item
                        a(href='/privacy') Terms of Use