extends layout

block content
    header.main-header
        .overlay
        video(playsinline='playsinline' autoplay='autoplay' muted='muted' loop='loop')
            source(src='media/process-loop.mp4' type='video/mp4' class="full-overlay")
        .container.h-100
            .d-flex.h-75.text-center.align-items-center
                .w-100.text-white
                    h1.display-3
                        | Welcome to&nbsp;
                        span.highlight Versyx
                    p.lead.mb-0
                        | We're a Digital Agency
                        | based in&nbsp;
                        span.highlight Rushden
    include sections/home/services
    include sections/home/portfolio
    include sections/home/team
    include sections/common/contact

    include sections/modals/portfolio