include partials/mixins/common

doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/css/bundle.min.css')
        link(rel='stylesheet', href='/css/app.min.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body(data-spy='scroll' data-target='.navbar' data-offset='56')
        include partials/nav
        main(role='main')
            block content
            include footer
        script(src='js/bundle.min.js?v=1.2')
        script(src='js/app.min.js?v=1.2')
