extends layout

block content
    section.page-section.my-5.h-100
        .container
            .row
                .col-md-2
                .col-md-8
                    h1 Privacy Policy
                    p Last Updated on 25th June 2019.
                    hr
                    br
                    p We are Versyx Digital, based in Rushden, United Kingdom.
                    p
                        | All handling of your personal data is handled in compliance with the
                        | General Data Protection Regulation (EU) 2016/679 (&ldquo;Data Protection Legislation&rdquo;).
                    p
                        | As we may collect and process your personal data, we are Data Controllers under
                        | General Data Protection Regulation (EU) 2016/679 (&ldquo;Data Protection Legislation&rdquo;).
                    br
                    h2 What We Collect
                    br
                    h3 Information You Provide to Us
                    p
                    p
                        | We collect information you provide to us directly when you use our service. This includes:
                    p
                        em Contact Information
                        | . if you choose to contact us, we will collect the following
                        |                         information from you: name, telephone number and email address. This information will only be used
                        |                     for correspondence and will not be sold to or shared with any marketers, advertisers, data brokers,
                        |                     or any unrelated third-parties.
                    br
                    h3 Information We Collect Automatically
                    p
                    p
                        | When you access or use our services, we may also automatically collect information about you.
                        | This includes:
                    p
                        em Log &amp; usage data
                        | . This may include your IP address, user-agent string, browser type,
                        |                         operating system, referral URLs,
                        |                         device information (e.g., device IDs), pages visited, links clicked, the requested URL,
                        |                         hardware settings, and search terms. Versyx will delete any IP addresses collected after 100
                        |                         days.
                    p
                        em Information collected from cookies and similar technologies
                        | . We may receive information
                        |                         from cookies, which are pieces of data your browser stores and sends back to us when making
                        |                         requests, and similar technologies. We use this information to better understand user activity
                        |                         and improve your experience.
                    br
                    h3 Information Collected from Other Sources
                    p
                    p
                        | We do not currently use any third parties (such as Google Analytics), however this may change in
                        | the future. We will notify you of any changes to the privacy policy.
                    br
                    h2 Your Rights
                    p
                    p You have the following rights under Data Protection laws:
                    ul
                        li
                            | The right to be informed of how your Personal Data is used (through this notice).
                        li The right to access any personal data held about you.
                        li The right to withdraw consent at any time.
                        li The right to rectify any inaccurate or incomplete personal data held about you.
                        li
                            | The right to erasure where it cannot be justified that the information held satisfies any
                            | of the criteria outlined in this policy, or where you have withdrawn consent.
                        li
                            | The right to prevent processing for direct marketing purposes, scientific/historical
                            | research or in any such way that is likely to cause substantial damage to you or another.
                    br
                    h2 Disclosure
                    p Versyx Digital may disclose your personal data if such is necessary:
                    ul
                        li To comply with legal obligations.
                        li To investigate possible unauthorised activity.
                        li To protect against legal liability.
                .col-md-2