// Portfolio Modals
// Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-dismiss='modal')
                .lr
                    .rl
            .container
                .row
                    .col-lg-8.mx-auto
                        .modal-body
                            // Project Details Go Here
                            h2.text-uppercase Snuggles Dog Grooming
                            p.item-intro.text-muted A Responsive website and Content Management System
                            img.img-fluid.d-block.mx-auto(src='media/1-snuggles.png' alt='')
                            p
                                | Snuggles are an award-winning dog grooming salon based in Milton keynes.
                                | They required an upgrade to their previous existing site in order to attract new customers
                                | and provide the ability to book and manage appointments online.
                            img.img-fluid.d-block.mx-auto(src='media/2-snuggles.png' alt='')
                            img.img-fluid.d-block.mx-auto(src='media/3-snuggles.png' alt='')
                            ul.list-inline
                                li Date: August 2019
                                li Client: Snuggles Dog Grooming
                                li Categories: Responsive Design, Web Development, Web Application Development
                            button.btn.btn-outline-info(data-dismiss='modal' type='button')
                                i.fas.fa-times
                                |  Close Project
// Modal 2
//#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
//    .modal-dialog
//        .modal-content
//            .close-modal(data-dismiss='modal')
//                .lr
//                    .rl
//            .container
//                .row
//                    .col-lg-8.mx-auto
//                        .modal-body
//                            // Project Details Go Here
//                            h2.text-uppercase Month of Prizes
//                            p.item-intro.text-muted A Promotional Website & Analytics.
//                            img.img-fluid.d-block.mx-auto(src='media/1-mop.png' alt='')
//                            p
//                                | Cineworld required a promotional website for their annual Month of Prizes campaign.
//                                | They also required the ability to monitor and track metrics such as the number of
//                                | entrants, number of winners, winner details and more.
//                            img.img-fluid.d-block.mx-auto(src='media/2-mop.jpg' alt='')
//                            img.img-fluid.d-block.mx-auto(src='media/3-mop.png' alt='')
//                            ul.list-inline
//                                li Date: October 2018
//                                li Client: Cineworld
//                                li Categories: Responsive Design, Web Development, Web Application Development
//                            button.btn.btn-outline-info(data-dismiss='modal' type='button')
//                                i.fas.fa-times
//                                |                   Close Project
// Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-dismiss='modal')
                .lr
                    .rl
            .container
                .row
                    .col-lg-8.mx-auto
                        .modal-body
                            // Project Details Go Here
                            h2.text-uppercase Developer Portfolio & Blog
                            p.item-intro.text-muted Personal portfolio belonging to Chris Rowles
                            img.img-fluid.d-block.mx-auto(src='media/1-rowles.png' alt='')
                            p
                                | A personal developer portfolio for Chris Rowles.
                                | Also contains a blogging platform.
                            img.img-fluid.d-block.mx-auto(src='media/2-rowles.png' alt='')
                            img.img-fluid.d-block.mx-auto(src='media/3-rowles.png' alt='')
                            ul.list-inline
                                li Date: July 2018
                                li Client: Chris Rowles
                                li Categories: Responsive Design, Web Development, Web Application Development
                            button.btn.btn-outline-info(data-dismiss='modal' type='button')
                                i.fas.fa-times
                                |  Close Project